
body, html {
    background-color: rgb(17, 17, 17);
    margin: 0;
    color: rgb(222, 222, 222);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    border: none;
    color: inherit;
    border-radius: 3px;
    padding: 0px;
    background-color: rgb(0, 139, 182);
}
button:active {
    background-color: rgb(0, 185, 241);
}


#full_page {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
}




/** HEADERS */

#top_header {
    width: 100%;
    height: 75px;
    background-color: rgb(43, 43, 43);
    display: table-row;
}

#top_header_alignment {
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}


#bottom_header {
    width: 100%;
    height: 0;
    background-color: rgb(29, 29, 29);
    
    display: table-row;
}

#filter_cont {
    display: grid;
    grid-template-columns: auto;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#filter_cont input[type="checkbox"] {
    accent-color: rgb(0, 139, 182);
}

#back_btn_cont {
    display: flex;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.back_btn {
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 5px;
}
.back_btn:active {
    background-color: rgb(43, 43, 43);
    border-radius: 3px;
}
.back_btn span {
    padding-left: 5px;
}
  



/** MAIN BODY */

#center_body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
}
#center_body #body_cont {
    background-color: rgb(29, 29, 29);

    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 25px;
}

#header_choice_cont {
    width: 75%;
}

#make_new_btn {
    font-size: large;
    padding: 5px;
    height: fit-content;
}


.info_table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 3px;
    border: 2px solid rgb(43, 43, 43);
}
.info_table {
    width: 100%;
}

.info_table td, th {
    border: 1px solid rgb(43, 43, 43);
    border-bottom: 2px solid rgb(43, 43, 43);
    text-align: left;
    padding: 8px;
}

.info_table#index_table th {
    background-color: rgb(43, 43, 43);
}
.info_table#index_table tbody tr:active {
    background-color: rgb(43, 43, 43);
}

.info_table#detail_table td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.info_table input {
    color-scheme: dark;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 30px; /* defined to make input take all height, margin: 0 and height: 100% didnt work */
    padding: 0px;
    border: none;
    color: inherit;
}
.info_table input:focus {
    outline: none;
}
.info_table td:has(input:focus), .info_table td:has(select:focus) {
    background-color: rgb(43, 43, 43);
}

.info_table select {
    background-color: rgba(0,0,0,0);
    color: inherit;
    width: 100%;
    height: 30px; /* defined to make select take more height, margin: 0 and height: 100% didnt work */
    border: none;
    outline: none;
}
.info_table select option {
    background: rgb(29, 29, 29);
}

.input_date_empty::-webkit-datetime-edit {
    color: #ffffff1c;
}


/* Comment stuff */
#comment {
    background-color: rgba(255, 94, 0, 0.075);
    border: 2px solid rgba(255, 94, 0, 0.377);
    margin-left: auto;
    border-radius: 5px;
    padding: 10px;
}
#comment:focus {
    outline: none;
}

#comment_note {
    color: rgb(255, 106, 106);
    margin: 0px;
}

#no_comment_btn {
    background-color: rgba(0,0,0,0);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}
#no_comment_btn:active {
    background-color: rgb(43, 43, 43);
    border-radius: 3px;
}
#no_comment_btn span {
    padding-left: 5px;
}


/* Login stuff */
#center_body #login_cont {
    width: 400px;
    height: 240px;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

#login_title {
    margin-top: 0px;
}

.login_input {
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(43, 43, 43);
    border-radius: 3px;
    color: inherit;
    padding: 5px;
}
.login_input:focus {
    background-color: rgb(43, 43, 43);
    outline: none;
}
.login_input_text {
    margin-bottom: 0px;
}

#login_btn {
    font-size: large;
    padding: 5px;
    margin-top: 10px;
    margin-left: auto;
}




/** GENERAL CLASSES */

.no_resize_for_padding {
    /** So padding does not effect size */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.show {
    opacity: 1;
    transition: .5s;
}
.hide {
    opacity: 0;
    transition: .2s;
}

.disappear {
    display: none;
}

.nothing { /* Basically the same as .hide, but made seperatly to differentiate use */
    opacity: 0;
}

