:root {
    --bg_color: rgb(17, 17, 17);
    --cont_color_dark: rgb(29, 29, 29);
    --cont_color_light: rgb(43, 43, 43);

    --dark_overlay_color: rgba(0, 0, 0, 0.7);

    --primary_color: rgb(0, 139, 182);
    --primary_color_light: rgb(0, 185, 241);

    --error_notice_color: rgb(255, 106, 106);

    --green_color: #35e66a;
    --yellow_color: #ffb25a;
    --red_color: #ff4444;
}


body, html {
    background-color: var(--bg_color);
    margin: 0;
    color: rgb(222, 222, 222);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*[onclick], *[href] {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    border-radius: 3px;
}
a:active {
    background-color: var(--cont_color_light);
}

button {
    border: none;
    color: inherit;
    border-radius: 3px;
    padding: 0px;
    background-color: var(--primary_color);
}
button:active {
    background-color: var(--primary_color_light);
}
.btn {
    border: none;
    color: inherit;
    border-radius: 3px;
    padding: 0px;
    background-color: var(--primary_color);
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:active {
        background-color: var(--primary_color_light);
    }
}


#full_page {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
}


.center_horizontal {
    width: 100%;
    display: flex;
    justify-content: center;
}



/** HEADERS */

#top_header {
    width: 100%;
    height: 75px;
    background-color: var(--cont_color_light);
    display: table-row;
}

#top_header_alignment {
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}

#hospital_location {
    margin-bottom: 5px;
}

#logout_link {
    padding: 3px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 15px;
}
#logout_link:active {
    background-color: var(--cont_color_dark);
}
#logout_link img {
    margin-right: 5px;
}


#bottom_header {
    width: 100%;
    height: 0;
    background-color: var(--cont_color_dark);
    
    display: table-row;
}
#bottom_header_alignment {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

#filter_cont {
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.filter_radio {
    -webkit-appearance: none;
    appearance: none;
    margin: 0px;
    +label {
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 3px;
        border: 2px solid var(--cont_color_light);
        cursor: pointer;
    }
    &:active +label {
        background-color: var(--cont_color_light);
    }
    &:checked +label {
        background-color: var(--primary_color);
        border-color: var(--primary_color);
        /* font-weight: bold; */
        /* text-shadow: -.5px .5px 0px rgb(222, 222, 222),
                    0px .5px 0px rgb(222, 222, 222),
                    .5px .5px 0px rgb(222, 222, 222),
                    .5px 0px 0px rgb(222, 222, 222),
                    .5px -.5px 0px rgb(222, 222, 222),
                    0px -.5px 0px rgb(222, 222, 222),
                    -.5px -.5px 0px rgb(222, 222, 222),
                    -.5px 0px 0px rgb(222, 222, 222); */
    }
}

#edit_hospital_status {
    font-size: larger;
    padding: 7px;
}

#test_s {
    margin-left: 5px;
    margin-right: 5px;
    width: 60px; 
    background-color: rgba(0, 0, 0, 0); 
    border: 2px solid var(--cont_color_light);
    border-radius: 3px; 
    -webkit-appearance: none;
    appearance: none;
}
#test_s::-webkit-slider-thumb {
    width: 17px;
    height: 17px;
    border-radius: 3px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: var(--primary_color);
    /* box-shadow: -80px 0 0 80px #43e5f7; */
  }


#back_btn_cont {
    display: flex;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    /* width: 80%; */
    /* justify-content: space-between; <- Place "Lagre og gå tilbake" to the right*/
}
.back_btn {
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    margin-right: 7%;
    padding: 5px;
}
.back_btn:active {
    background-color: var(--cont_color_light);
    border-radius: 3px;
}
.back_btn span {
    padding-left: 5px;
}
  



/** MAIN BODY */

#center_body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
}
#center_body #body_cont {
    background-color: var(--cont_color_dark);

    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 25px;
}

#header_choice_cont {
    width: 75%;
}

#make_new_btn {
    font-size: large;
    padding: 5px;
    height: fit-content;
}


.info_table {
    width: 100%;

    border-collapse: separate;
    border-spacing: 0;
    border-radius: 3px;
    /* border: 2px solid var(--cont_color_light); */ /*TODO Find a way to have thicker border around edge, but not around comment_column (use an absolute div?) */
}

.info_table td, .info_table th {
    border: 1px solid var(--cont_color_light);
    border-bottom: 2px solid var(--cont_color_light);
    text-align: left;
    padding: 8px;
}

.info_table#index_table th {
    background-color: var(--cont_color_light);
}
.header_sorted_after {
    color: var(--primary_color);
}

.info_table#index_table tbody tr:active {
    background-color: var(--cont_color_light);
}
.info_table#index_table tbody td {
    height: 35px; /* basically min-height */
}

.info_table#detail_table td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.info_table input {
    color-scheme: dark;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 30px; /* defined to make input take all height, margin: 0 and height: 100% didnt work */
    padding: 0px;
    border: none;
    color: inherit;
}
.info_table input:focus {
    outline: none;
}
.info_table td:has(input:focus), .info_table td:has(select:focus) {
    background-color: var(--cont_color_light);
}

.info_table select {
    background-color: rgba(0,0,0,0);
    color: inherit;
    width: 100%;
    height: 30px; /* defined to make select take more height, margin: 0 and height: 100% didnt work */
    border: none;
    outline: none;
}
.info_table select option {
    background: var(--cont_color_dark);
}

.input_date_empty::-webkit-datetime-edit {
    color: #ffffff1c;
}

#hospital_table {
    width: fit-content;
    border-collapse: separate; 
    border-spacing: 0;
    border: 1px solid var(--cont_color_light);

    tr {
        margin: 10px;
    }

    th {
        border: 1px solid var(--cont_color_light);
        padding: 10px;
        text-align: right;
        font-size: larger;
    }
    td {
        border: 1px solid var(--cont_color_light);
        text-align: left;
    }
    td>p {
        padding: 10px;
    }
}

.hospital_radio_cont {
    --radio_width: 10vw;
    --radio_height: 50px;

    /* display: flex;  */
    height: calc(var(--radio_height));
    /* border-radius: 5px; */
    overflow: hidden;
    width: calc(var(--radio_width));

    >label {

        display: block;
        position: relative;
        cursor: pointer;
        /* margin-right: calc(var(--radio_width) + 2px); */
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        >.hospital_question_radio {
            -webkit-appearance: none;
            appearance: none;
            margin: 0px;
            +.checkmark {
                position: absolute;
                top: calc(var(--radio_height) / -2);
                left: 0;
                height: var(--radio_height);
                width:  var(--radio_width);
            }
            &:checked + .checkmark {
                --color: #fff;
                &.checkmark_green {
                    --color: var(--green_color);
                }
                &.checkmark_yellow {
                    --color: var(--yellow_color);
                }
                &.checkmark_red {
                    --color: var(--red_color);
                }
                background-color: var(--color);
                border-color: var(--color);
            }
        }
    }

    &:has(>label>.hospital_question_radio[value='green']:checked) + p>.hospital_radio_desc_color {
        color: var(--green_color);
    }
    &:has(>label>.hospital_question_radio[value='yellow']:checked) + p>.hospital_radio_desc_color {
        color: var(--yellow_color);
    }
    &:has(>label>.hospital_question_radio[value='red']:checked) + p>.hospital_radio_desc_color {
        color: var(--red_color);
    }
}

.hospital_radio_desc_cont {
    width: 25vw;
}


/* Comment stuff in overview */
.info_table .comment_column {
    border: none;
    position: relative;
    width: 15px; /* creates distance to right edge */
} 
.comment_column img {
    position: absolute;
    top: 0px;
    left: 0px;
}

#show_comment_full_page {
    position: absolute; 
    background-color: var(--dark_overlay_color); 
    width: 100%; 
    height: 100%; 
    bottom: 0px;
    z-index: 10;
    /* display: flex; <- flex is added with JS (collides with .disappear) */
    justify-content: center;
    /* align-items: center; */
}
#overview_comment {
    background-color: #20140d;
    border: 2px solid #742f08;
    border-radius: 5px;
    padding: 10px;
    margin-top: 40%;
    max-width: 80%;
    height: fit-content;
}


/* Comment stuff in detail */
#comment {
    background-color: rgba(255, 94, 0, 0.075);
    border: 2px solid rgba(255, 94, 0, 0.377);
    margin-left: auto;
    border-radius: 5px;
    padding: 10px;
}
#comment:focus {
    outline: none;
}

#comment_note {
    color: var(--error_notice_color);
    margin: 0px;
}

#no_comment_btn {
    background-color: rgba(0,0,0,0);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}
#no_comment_btn:active {
    background-color: var(--cont_color_light);
    border-radius: 3px;
}
#no_comment_btn span {
    padding-left: 5px;
}


/* Save popup */
#save_popup_center {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--dark_overlay_color); 
    /* display: flex; <- flex is added with JS */
    justify-content: center;
    align-items: center;
}

#save_popup {
    background-color: var(--cont_color_dark);
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    width: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#save_popup_btns {
    width: 100%;
    display: flex;
    justify-content: space-between;

    >button {
        padding: 5px;
        font-size: 1rem;
    }
    >button:not(#save_popup_forkast_btn) {
        background-color: var(--cont_color_light);
    }
}


/* Login stuff */
#center_body #login_cont {
    width: 400px;
    height: 240px;
    background-color: var(--cont_color_dark);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

#login_title {
    margin-top: 0px;
}

.login_input {
    background-color: rgba(0,0,0,0);
    border: 2px solid var(--cont_color_light);
    border-radius: 3px;
    color: inherit;
    padding: 5px;
}
.login_input:focus {
    background-color: var(--cont_color_light);
    outline: none;
}
.login_input_text {
    margin-bottom: 0px;
}

#login_btn {
    font-size: large;
    padding: 5px;
    margin-top: 10px;
    margin-left: auto;
}




/** GENERAL CLASSES */

.no_resize_for_padding {
    /* So padding does not effect size */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.show {
    opacity: 1;
    transition: .5s;
}
.hide {
    opacity: 0;
    transition: .2s;
}

.disappear {
    display: none;
}

.display_flex { /* because .disappear colides with an id containing another display */
    display: flex;
}

.nothing { /* Basically the same as .hide, but made seperatly to differentiate use (hides but keeps flow-impact) */
    opacity: 0;
}

